
<div class="categoria-container">
  <h2>Gerenciamento de Categorias</h2>

  <!-- Mensagem de Sucesso ou Erro -->
  <div *ngIf="mensagem" class="mensagem sucesso" [ngClass]="mensagemTipo">
    {{ mensagem }}
  </div>
  <div *ngIf="mensagemErro" class="mensagem erro" [ngClass]="mensagemTipo">
    {{ mensagemErro }}
  </div>

  <!-- Botão para Adicionar Nova Categoria -->
  <div class="menu">
    <button (click)="toggleNovaCategoriaForm()">Adicionar Nova Categoria</button>
  </div>

  <!-- Tabela de Categorias -->
  <div class="categoria-lista">
    <h3>Categorias</h3>
    <table class="categoria-tabela">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let categoria of categorias">
          <td>{{ categoria.nome }}</td>
          <td>
            <button class="btn-deletar" (click)="deletarCategoria(categoria.id)">
              Deletar
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- Formulário de Criação de Categoria -->
  <div *ngIf="showNovaCategoriaInput" class="categoria-criar">
    <h3>Criar Nova Categoria</h3>
    <form [formGroup]="categoriaForm" (ngSubmit)="criarCategoria()">
      <label for="nome">Nome:</label>
      <input id="nome" formControlName="nome" />
      <button type="submit" [disabled]="categoriaForm.invalid">Criar</button>
    </form>
  </div>
</div>
